<!DOCTYPE html>
<html>
{% load static %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Welcome Page</title>
	
</head>
<body>
	<center><b style="font-size: 200px;color: green;">WELCOME</b></center>
	<center>Click <a href='/show_emp/'>HERE</a> to See Employee Details</center>
	<img src= "{% static 'images\133896988055857932.jpg' %}" height="125px" width="200px">
	<h1>Next Image</h1>
	<img src="{% static 'images/20250429_164012.jpg' %}" height="125px" width="200px">

</b></center>
</body>
</html>